*
{
	margin:0px;
	padding:0px;
}
body
{
	background:#111;
	color:#eef;
	font:30px Monospace;
}
:focus
{
    outline:0;
}

#TypeTree
{
    position:relative;
    display:inline-block;
    width:400px;
    height:400px;
    margin:30px;
}
